* {
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
	background: #a7a7a7;
  overflow-x: hidden;
}
.nav_responsive-ul{
  display: none;
}
nav {
  background: #999;
  width: 100%;
  clear: both;
  content:'';
  display: table;
  position: sticky;
  top: 0;
  box-shadow: 15px 0px 20px;
  z-index: 1000;
  margin-bottom: 25px;
  }

.nav_img-responsive{
  display: none;
}

.nav_ul {
  width: 1000px;
  margin: 0 auto;
}

#img_nav {
  height: 90px;
  float: left;
  padding: 8px;
  margin-left: 7px;
  filter: drop-shadow(3px 3px 8px #9f9f9f)

}

nav {
  float: right;
}

.li_nav {
  list-style: none;
  margin-top: 15px;
  margin-left: 60px;
  padding: 12px 0;
  float: left;
  position: relative;
}

.a_nav {
  text-decoration: none;
  color: #111;
  font-weight: bold;
}

.a_nav::before {
  display: block;
  content: '';
  width: 0%;
  background: #111;
  height: 4px;
  top:0;
  position: absolute;
  transition:  0.2s;
}

.a_nav:hover::before {
  width: 100%;
}


#inicio {
	width: 90%;
	margin: auto;
}

.nav_responsive-button-container {
  position:absolute;
  font-size: 25px;
  width: 100%;
  display: none;
}

.nav_responsive-button {
  
  padding: 6px 20px;
  text-align: right;
  width: 100%;
  height: 20px ;
  font-size: 35px;

}

@media only screen and (max-width: 1000px) {
  .nav_ul {
    display: none;
  }
  .nav_img {

    display: none;

  }

  .nav_img-responsive {

    display: block;

  }

  nav {
    height: 90px;
    width: 100%;

  }
  .nav_responsive-ul {
    display: block;
    width: 100%;
    position: absolute;
    height: 70px;
    float: right;
  }

  .nav_li-container {

    position: relative;
    top:-2500px ;
    height: 300%;
    background: #999;
    width: 75%;
    z-index: 1;
    transition: all 1s;
    padding-left: 10px;
  }

  .li_nav-responsive {
    float: right;
    width: 100%;
    text-decoration: none;
  }

  .li_nav-responsive {

    margin-top: 15px;
    margin-left: 10px;
    text-decoration: none;

  }

  .li_nav-responsive a {
    text-decoration: none;
    color: #111;
  }
  
  .nav_responsive-ul:hover > .nav_li-container {
    top: 60px;
  }


}

.inicio{
  width: 100%;
  height: 500px;
  background-color: #000; 
}
